.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonDiv{
    padding: 23px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    height: 75vh;
    width: 75vh;
}

.unit{
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid;
    box-sizing: border-box;
}